table{
  margin-top: 30px;
  margin-bottom: 110px;
  border-bottom: 1px solid #0E96B5;
}
.btn-update{
  background-color: #0e96b5;
  color: white;
}
.btn{
margin-left: 20px;
}
.btn-view{
  background-color: #0e96b5;
  color: white;
}
