*{
  font-size: 25px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
a{
  padding-right: 50px;
}

.footer {
  background-color: #1d1d1d;
  padding: 30px;
  margin-top: auto;
  top: 100%;
  position: sticky;
  z-index: 2;
}

.logo {
  text-decoration: none;
  text-align: center;
  font-size: 19px;
}
.navbar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  a{
    padding:0;
    font-size: 20px;
  }
}
