@import "bootstrap/dist/css/bootstrap.css";
a {
  text-decoration: none;
  color: white;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #f0f0f0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
nav {
  height: 70px;
  background-color: #0e96b5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright {
  text-align: center;
}
html, body {
  height: 100%;
}
